*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 20px;    
} 
.inside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    height: 500px;
    width: 500px;
    position: relative;
}

.register
{
    
        background-color:  #00237d;
        width: 500px;
        margin: 0px 0px 0px 450px;
        color: white;
        font-size: 18px;
        padding: 20px;
        border-radius: 10px;
}
#register{
    margin-left: 100px;
}
label{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
}
#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0px;
    padding: 7px;
}
#ph{
    width: 65px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#num{
    width: 230px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#sub{
    width: 200px;
    padding: 7px;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
    border: none;
    border-radius: 3px;
    outline: 0;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}

        